<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hairdresser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hairdresser.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="nav nav-pills navbar-expand-md bg-dark">
        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">HOME</a>
        <a class="nav-link" href="@Url.Action("AIHair", "Home")">AI HAIR</a>
        <a class="nav-link" href="@Url.Action("User", "Admin")">USER LOGIN</a>
        <a class="nav-link ms-auto" href="@Url.Action("Admin", "Admin")">ADMIN LOGIN</a>

    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
