@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Hairdresser_Website.Models.Employee>

<h2>Employees</h2>
<a href="/Employee/Create" class="btn btn-primary mb-3">Add Employee</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Expertise</th>
            <th>Availability</th>
            <th>Salon</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Expertise</td>
                <td>
                    @if (employee.EmployeeAvailabilities != null && employee.EmployeeAvailabilities.Any())
                    {
                        <ul class="list-group">
                            @foreach (var availability in employee.EmployeeAvailabilities.OrderBy(a => a.DayOfWeek))
                            {
                                <li class="list-group-item">
                                    @availability.DayOfWeek: @availability.StartTime.ToString(@"hh\:mm") - @availability.EndTime.ToString(@"hh\:mm")
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="text-muted">Not specified</span>
                    }
                </td>
                <td>@employee.Salon.Name</td>
                <td>
                    <a href="/Employee/Edit/@employee.EmployeeId" class="btn btn-warning">Edit</a>
                    <a href="/Employee/Delete/@employee.EmployeeId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>